*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:linear-gradient(135deg,#4f46e5,#7c3aed);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.chat-container{
    width:400px;
    height:650px;
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.chat-header{
    background:#4f46e5;
    color:white;
    text-align:center;
    padding:20px;
}

.chat-header h2{
    margin-bottom:5px;
    font-size:24px;
}

.chat-header p{
    opacity:0.9;
    font-size:14px;
}

.chat-box{
    height:500px;
    padding:15px;
    overflow-y:auto;
    background:#f4f6f9;
}

.bot-message,
.user-message{
    padding:12px 15px;
    border-radius:15px;
    margin-bottom:10px;
    max-width:80%;
    word-wrap:break-word;
}

.bot-message{
    background:#e5e7eb;
    color:#333;
}

.user-message{
    background:#4f46e5;
    color:white;
    margin-left:auto;
}

.chat-input{
    display:flex;
    border-top:1px solid #ddd;
}

.chat-input input{
    flex:1;
    padding:15px;
    border:none;
    outline:none;
    font-size:14px;
}

.chat-input button{
    background:#4f46e5;
    color:white;
    border:none;
    padding:15px 20px;
    cursor:pointer;
    transition:0.3s;
}

.chat-input button:hover{
    background:#4338ca;
}

.chat-box::-webkit-scrollbar{
    width:6px;
}

.chat-box::-webkit-scrollbar-thumb{
    background:#c7c7c7;
    border-radius:10px;
}

@media(max-width:480px){

    .chat-container{
        width:95%;
        height:95vh;
    }

}
